{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="loginContainer">
        {% if app.user %}
            <div class="mb-3">
                <h1>Bonjour {{ app.user.userIdentifier }}</h1>
                <a href="{{ path('app_dashboard') }}">Tableau de bord</a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% else %}
            <div class="loginFormContainer">
                <h1>Connexion</h1>
                <form method="post" action="{{ path('app_login') }}" data-turbo="false">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div>
                        <label for="email">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div>
                        <label for="remember_me">Se souvenir de moi</label>
                        <input type="checkbox" name="remember_me" id="remember_me">
                    </div>

                    <!-- Bouton de connexion -->
                    <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
                </form>
        
                <p>Pas encore de compte ? 
                    <a href="{{ path('app_register') }}" class="btn btn-link">Inscrivez-vous</a>
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
