{% extends 'base.html.twig' %}

{% block title %}Ajouter un compte bancaire{% endblock %}

{% block body %}
    <div class="addBankAccountContainer">
    
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <div class="addBankAccountFormContainer">
            <h1>Ajouter un compte bancaire</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn">Ajouter le compte</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
