{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block nav %}
    <a href="{{ path('app_home') }}">Accueil</a>
    <a href="#advantages">Avantages</a>
    <a href="#review">Avis</a>
    <a href="#contact">Contact</a>
{% endblock %}

{% block body %}
    <div class="heroContainer">
        <div>
            <h1>Gérez votre argent en toute confiance</h1>
            <p>Simplifiez votre vie financière avec notre application bancaire sécurisée et intuitive. Inscrivez-vous dès aujourd'hui et prenez le contrôle de vos comptes en toute simplicité.</p>
            <a href="{{ path('app_register') }}" class="btn btn-primary">Démarrer maintenant</a>
        </div>
        <div>
            <img src="{{ asset('images/piece.png') }}">
        </div>
    </div>
    
    <div class="advantagesListContainer" id="advantages">
        <h1>Nos avantages</h1>
        <div class="advantagesList">
            <div class="advantagesItem">
                <div><img src="{{ asset('images/banque.png') }}" alt="Compte bancaire"></div>
                <h2>Gestion complète des comptes bancaires</h2>
                <p>Créez des comptes épargne et courants. Gérez jusqu'à 5 comptes par utilisateur. Possibilité de découvert jusqu'à 200€</p>
            </div>

            <div class="advantagesItem">
                <div><img src="{{ asset('images/securite.png') }}" alt="Sécurité"></div>
                <h2>Transactions bancaires sécurisées</h2>
                <p>Effectuez des dépôts, retraits, et virements. Historique détaillé des transactions.</p>
            </div>

            <div class="advantagesItem">
                <div><img src="{{ asset('images/utilisateur.png') }}" alt="Support utillisateur"></div>
                <h2>Sécurité avancée et support utilisateurs</h2>
                <p>Chiffrement des mots de passe. Validation des données utilisateurs. Support client disponible 24/7</p>
            </div>
        </div>
    </div>

    <div class="reviewListContainer" id="review">
        <h1>Les avis de nos clients</h1>
        <div class="reviewList">
            <div class="reviewItem">
                <div><img src="{{ asset('images/utilisateur.png') }}" alt="Avis"></div>
                <h2>⭐⭐⭐⭐⭐</h2>
                <p>L'application a transformé la manière dont je gère mes finances ! Très sécurisée et facile à utiliser.</p>
            </div>

            <div class="reviewItem">
                <div><img src="{{ asset('images/utilisateur.png') }}" alt="Avis"></div>
                <h2>⭐⭐⭐⭐⭐</h2>
                <p>Excellent service client et fonctionnalités complètes. Recommandé !</p>
            </div>

            <div class="reviewItem">
                <div><img src="{{ asset('images/utilisateur.png') }}" alt="Avis"></div>
                <h2>⭐⭐⭐⭐⭐</h2>
                <p>Une application essentielle pour une gestion financière efficace.</p>
            </div>
        </div>
    </div>

{% endblock %}