{% extends 'dashboard/base_dashboard.html.twig' %}

{% block title %}Tableau de bord Utilisateur{% endblock %}

{% block nav %}

    <a href="" class="headerLinks">
        <img src="{{ asset('images/accueilClair.png') }}" alt="Tableau de bord">
        <p>Tableau de bord</p>
    </a>
    <a href="" class="headerLinks">
        <img src="{{ asset('images/carteClair.png') }}" alt="Comptes">
        <p>Comptes</p>
    </a>
    <a href="" class="headerLinks">
        <img src="{{ asset('images/transactionClair.png') }}" alt="Transactions">
        <p>Transactions</p>
    </a>

{% endblock %}

{% block dashboard_title %}Tableau de bord Utilisateur{% endblock %}

{% block dashboard_content %}
    <div class="accountsListContainer">
        <h2>Mes comptes</h2>    
        <div class="accountsList">

            {# ajouter un foreach ici #}
            <div class="accountsItem">
                <div>
                    <h3>0123456789</h3> {# ajouter informations dynamiques #}
                    <p>Type de compte</p>
                </div>
                <p class="accountBalance">1000 €</p>
            </div>

            <a href="" class="accountsItemAdd">
                <img src="{{ asset('images/ajouter.png') }}" alt="Ajouter">
                <p>Ajouter un compte</p>
            </a>
        </div>
    </div>

    <div class="transactionsContainer">
        <div class="transactionsActions">
            <h2>Transactions</h2>
            <div class="transactionsActionsList">
                <a href="" class="transactionsActionsLinks">
                    <img src="{{ asset('images/carteClair.png') }}" alt="Dépôt">
                    <p>Dépôt</p>
                </a>
                <a href="" class="transactionsActionsLinks">
                    <img src="{{ asset('images/carteClair.png') }}" alt="Retrait">
                    <p>Retrait</p>
                </a>
                <a href="" class="transactionsActionsLinks">
                    <img src="{{ asset('images/carteClair.png') }}" alt="Virement">
                    <p>Virement</p>
                </a>
            </div>
        </div>

        <div class="transactionsHistory">
            <h2>Historique des transactions</h2>
            <div class="transactionsHistoryList">
                <div class="transactionsHistoryItem">
                    <div>
                        <p>15/01/2025 15:15</p> {# ajouter informations dynamiques #}
                        <p>Type</p>
                        <p>Statut</p>
                    </div>
                    <p>1000 €</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}