{% extends 'dashboard/base_dashboard.html.twig' %}

{% block title %}Tableau de bord Utilisateur{% endblock %}

{% block nav %}
    <nav class="userNav">
        <a href="#" class="headerLinks">
            <img src="{{ asset('images/accueilClair.png') }}" alt="Tableau de bord">
            <p>Tableau de bord</p>
        </a>
        <a href="#accounts" class="headerLinks">
            <img src="{{ asset('images/carteClair.png') }}" alt="Comptes">
            <p>Comptes</p>
        </a>
        <a href="#transactions" class="headerLinks">
            <img src="{{ asset('images/transactionClair.png') }}" alt="Transactions">
            <p>Transactions</p>
        </a>
    </nav>
{% endblock %}

{% block dashboard_title %}Bienvenue {{ app.user.nom }} {{ app.user.prenom }}{% endblock %}

{% block dashboard_content %}
    <div class="accountsListContainer" id="accounts">
        <h2>Mes comptes</h2>    
        <div class="accountsList">
            {% for compte in comptes %}
                <div class="accountsItem">
                    <div>
                        <div>
                            <h3>{{ compte.numeroDeCompte }}</h3>
                            <p>{{ compte.type }}</p>
                        </div>
                        <form method="post" action="{{ path('app_dashboard_delete', { id: compte.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce compte ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compte.id) }}">
                            <button type="submit" class="btn btn-danger">
                                <img src="{{ asset('images/croix.png') }}" alt="Supprimer"/>
                            </button>
                        </form>
                    </div>
                    <p>{{ compte.solde }} €</p>
                </div>
            {% else %}
                <div class="accountsItemNotFound">
                    <img src="{{ asset('images/croix.png') }}" alt="Aucun compte trouvé">
                    <p>Aucun compte trouvé</p>
                </div>
            {% endfor %}
            <a href="{{ path('app_add_compte') }}" class="accountsItemAdd">
                <img src="{{ asset('images/ajouter.png') }}" alt="Ajouter">
                <p>Ajouter un compte</p>
            </a>
        </div>
    </div>

    <div class="transactionsContainer" id="transactions">
        <div class="transactionsActions">
            <h2>Transactions</h2>
            <div class="transactionsActionsList">
                <a href="{{ path('app_deposit') }}" class="transactionsActionsLinks">
                    <img src="{{ asset('images/carteClair.png') }}" alt="Dépôt">
                    <p>Dépôt</p>
                </a>
                <a href="{{ path('app_withdraw') }}" class="transactionsActionsLinks">
                    <img src="{{ asset('images/carteClair.png') }}" alt="Retrait">
                    <p>Retrait</p>
                </a>
                <a href="{{ path('app_transfer') }}" class="transactionsActionsLinks">
                    <img src="{{ asset('images/carteClair.png') }}" alt="Virement">
                    <p>Virement</p>
                </a>
            </div>
        </div>

        <div class="transactionsHistory">
            <h2>Historique des transactions</h2>
            <div class="transactionsHistoryList">
                {% for transaction in transactions %}
                    <div class="transactionsHistoryItem">
                        <div>
                            <p>{{ transaction.dateHeure|date('d/m/Y H:i') }}</p> {# ajouter informations dynamiques #}
                            <p>{{ transaction.type }}</p>
                            <p>{{ transaction.statut }}</p>
                        </div>
                        <p>{{ transaction.montant }} €</p>
                    </div>
                {% else %}
                    <div class="transactionsHistoryItem">
                        <p>Aucune transaction trouvée.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}