{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
<h1>Liste des transactions</h1>
<ul>
    {% for transaction in transactions %}
        <li>
    <form action="{{ path('app_transaction_new') }}" method="post">
                {{ transaction.label }} - {{ transaction.amount }}€
            </a>
        </li>
    {% endfor %}
</ul>
<a href="{{ path('app_transaction_new') }}">Créer une nouvelle transaction</a>
<form action="{{ path('app_transaction_new') }}" method="post">
    <!-- Form content here -->
</form>
{% endblock %}
