{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
<h1>Liste des transactions</h1>
<ul>
    {% for transaction in transactions %}
        <li>
            {{ transaction.id }} : {{ transaction.type }} - {{ transaction.montant }}€
        </li>
    {% endfor %}
</ul>

<h2>Effectuer un transfert</h2>
{{ form_start(form) }}
    {{ form_row(form.compteSource) }}
    {{ form_row(form.compteDestination) }}
    {{ form_row(form.montant) }}
    <button type="submit" class="btn btn-primary">Transférer</button>
{{ form_end(form) }}
{% endblock %}
