{% extends 'base.html.twig' %}

{% block title %}Retrait d'Argent{% endblock %}

{% block body %}
    <div class="withdrawContainer">
        <div class="withdrawFormContainer">
            <h1>Retirer de l'Argent du Compte</h1>
            <form action="{{ path('app_withdraw') }}" method="post">
                {{ form_start(form) }}
                
                {{ form_row(form.compteSource) }}  {# Affichez le champ pour sélectionner un compte source #}
                {{ form_row(form.montant) }}       {# Affichez le champ pour le montant #}

                <button type="submit">Retirer</button>
                
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}
